.inventory-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.new-product-button {
  position: fixed;
  padding: 1rem 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  width: 30%;
  background-color: white;
  border: red solid 3px;
  border-radius: 30px;
  font-size: 2rem;
  transition: background-color 0.5s, color 0.5s;
  min-width: 300px;
}
.new-product-button:hover {
  background-color: red;
  color: white;
}
@media screen and (max-width: 750px) {
  .inventory-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 0.2rem;
  }
  .new-product-button {
    padding: 0.5rem;
  }
}
